.menu-tab {
  border-bottom: 1px solid #181a21de;
  height: 40px;
  background-color: #181a2196;
}

.menu-tab li {
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  float: left;
  width: 25%;
  text-align: center;
}

.menu-tab li a {
  color: #18beba;
  height: 100%;
  display: inline-block;
  width: 100%;
}

.menu-tab li .active {
  color: #fff;
  background-color: #18beba;
}
